<ion-view view-title="Bienvenido a Ebooks">
  <ion-content class="padding">
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Usuario</span>
    <input type="text" placeholder="Charlis">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Contraseña</span>
    <input type="password" placeholder="********">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Charlis_lockote@suhr.com">
  </label>
</div>
<button class="button button-block button-positive">
  Iniciar sesión
</button> <br><br>
   <center><a href="#">¿Olvidaste tu contraseña?</a></center>

   <div class="bar bar-footer bar-balanced">
  <div class="title">eBooks</div>
</div>
  </ion-content>
</ion-view>
